@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    background-color: #f1f1f1;
    font-family: "Lexend Deca", sans-serif;
  }

* {
    box-sizing: border-box;
    transition: all ease .2s;
}
